@charset "utf-8";

.body {
    width: 1000px;
    margin: 0 auto 0;
}

.header {
    float: left;
}

.greeting {
    float: right;
    margin-right: 100px;
}

.menu {
    float: left;
    max-width: 195px;
}

.bodyLayout {
    margin-left: 200px;
    width: 800px;
}

.order {
    width: 215px;
}

ul {
    list-style: none;
}

.headerLang {
    margin-left: 30px;
    float: left;
}

.tableLang {
    padding: 5px;
}

.imgLang {
    height: 20px;
    width: 20px;
    display: block;
}

.reg{
    width: 200px;
}

.error{
    color: red;
}

a:visited{
    color: #0000d0;
}